<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABSA Model Deployment</title>
</head>
<body>
    <h1>Analyze Airline Review Sentiment</h1>
    <p>
        Enter an airline review to determine the sentiment on various aspect (e.g. food and cabin staff service)
    </p>

    <form method="post" action="/">
        <input type="text" name="review" placeholder="Review text">
        <input type="submit">
    </form>

    {% if data %}
    <p>The detected sentiments for the different airline aspects:</p> 
    <ul>
    {% for item in data %}
        <li><b>{{item[0]}}:</b> {{item[1]}} </li>
    {% endfor %}   
    </ul> 
    {% endif %}

</body>
</html>