aspect-based-sentiment-analysis==2.0.2
click==7.1.2
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Compress==1.9.0
gunicorn==20.1.0
ipython @ file:///opt/concourse/worker/volumes/live/f33fa11b-d908-43e8-693a-f4b58d8c695c/volume/ipython_1617120878195/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
jinja2-time==0.2.0
tensorflow==2.5
transformers==4.8
pytest
scikit-learn
google-cloud-storage
testfixtures
optuna
spacy